.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(10, 10, 10);
}

.header {
  z-index: 100;
}

.header,
.body-main {
  padding: 1em 6em;

  @media (max-width: 480px) {
    padding: 1em 2em;
  }
}
