.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(10, 10, 10);
}

.header {
  z-index: 100;
}

.header,
.body-main {
  padding: 0 10em 0.1em;

  @media (max-width: 1050px) {
    padding: 0 5em 0.1em;
  }

  @media (max-width: 740px) {
    padding: 0 3em 0.1em;
  }

  @media (max-width: 480px) {
    padding: 0.5em 2em;
  }
}
