.movies-container {
  position: relative;
  height: 100%;
  @media (max-width: 676px) {
      justify-content: center;
      margin-top: 1.5em;
  }
}

.no-movies-found {
  position: absolute;
  top: 50%;
  left: 50%;
  color: red;
  transform: translate(-50%, -50%);
}

.infinite-movie-loader {
  visibility: hidden;
}
