.search {
  width: 28%;

  @media (max-width: 960px) {
    display: none;
  }
}

.search-960 {
  margin-top: 1em;
  display: none;

  @media (max-width: 960px) {
    display: flex;
  }

  @media (max-width: 540px) {
    display: flex;
    margin-top: 1em;
  }
}
